extends ../../common/layouts/layout.jade

append styles
  link(rel="stylesheet" type="text/css" href="/styles/plain.css")

block nav
  include ../../common/mixins/base.jade
  .navigation
    .fcmder_app-pages
      +navLinks('/', CONSTS.COMMANDER.PUBLIC_APP_URL_MOUNT + CONSTS.COMMANDER.PLAIN_APP_URL_MOUNT)
    .fcmder_user-cmds
      if (!appkey.user)
        +userCmds(CONSTS.COMMANDER.LOGIN_ROUTE, 'Log in')
      else
        +userCmds(CONSTS.COMMANDER.PRIVATE_APP_URL_MOUNT + CONSTS.COMMANDER.PLAIN_APP_URL_MOUNT, 'My files', CONSTS.COMMANDER.HOME_ROUTE, 'Home', CONSTS.COMMANDER.LOGOUT_ROUTE, 'Log out')

append metas
  if (appkey.app.autoRedirect)
    meta(http-equiv="refresh" content="#{appkey.app.timeout}; URL=#{appkey.app.redirect}")

block content
  .container
    #fcmder_server-msg(class="#{(appkey.app.state.err) ? 'fcmder_failure' : 'fcmder_success'}")
      .fcmder_message= appkey.app.state.msg
      if (appkey.app.state.err && appkey.app.state.desc)
        .fcmder_description
          p Detailed description:
          p= appkey.app.state.desc
      .fcmder_suggestion
        if (appkey.app.autoRedirect)
          p You are going to be automatically redirected back in #{appkey.app.timeout}&nbsp;seconds. If not, please use this 
            a(href=appkey.app.redirect) link
            |  to go back manually.
        else
          p Please use this 
            a(href=appkey.app.redirect) link
            |  to go back.
