extends ../../common/layouts/layout.jade

block content
  table
    tr
      th Name
      th Date modified
      th Size
      th Kind
    each file in fcmder.app.files.names
      tr
        td: a(href=fcmder.req.prefix.app + fcmder.req.prefix.sub + fcmder.req.url + file)= file
        td: span= fcmder.app.files.stats[file].mtime
        td: span #{fcmder.app.files.stats[file].size} bytes
        td: span link: #{fcmder.app.files.stats[file].isLink} directory: #{fcmder.app.files.stats[file].isDir} file: #{fcmder.app.files.stats[file].isFile}
