extends ../../common/layouts/layout.jade

append styles
  link(rel="stylesheet" type="text/css" href="/styles/plain.css")

block content
  table
    tr
      th Name
      th Date modified
      th Size
      th Kind
    each file in appkey.app.files.names
      tr
        td: a(href=appkey.req.path + file)= file
        td: span= appkey.app.files.stats[file].mtime
        td: span #{appkey.app.files.stats[file].size} bytes
        td: span link: #{appkey.app.files.stats[file].isLink} directory: #{appkey.app.files.stats[file].isDir} file: #{appkey.app.files.stats[file].isFile}
