extends ../../common/layouts/layout.jade

append styles
  link(rel="stylesheet" type="text/css" href="/styles/plain.css")

block content
  ul.fcmder_cdir-commands
    li
      div Upload files to current folder
      form(action=appkey.req.path enctype="multipart/form-data" method="post")
        input(type="file" name="upload" multiple="multiple")
        button(type="submit") Upload
    li
      div Create a new folder in current folder
      form(action=appkey.req.path method="post")
        input(type="text" name="name" placeholder="Folder name")
        button(type="submit") Create
    li
      div Copy or move selected elements to current folder
      form(action=appkey.req.path method="post")
        input(type="text" name="local" placeholder="Source path" required)
        input(type="text" name="name" placeholder="New name")
        button(type="submit") Move
        button(type="submit" name="preserve" value="preserve") Copy
  table.fcmder_files-table
    tr
      th Name
      th Date modified
      th Size
      th Kind
      th Actions
    tr
      td: a(href=CONSTS.COMMANDER.PRIVATE_APP_URL_MOUNT +
                 CONSTS.COMMANDER.PLAIN_APP_URL_MOUNT +
                 appkey.app.parentPath)
            | #{(appkey.app.parentPath == appkey.app.path) ? '.' : '..'}
      td
      td
      td
      td
    each file in appkey.app.files.names
      tr
        td: a(href=appkey.req.path + file)= file
        td: span= appkey.app.files.stats[file].mtime
        td: span #{appkey.app.files.stats[file].size} bytes
        td: span link: #{appkey.app.files.stats[file].isLink} directory: #{appkey.app.files.stats[file].isDir} file: #{appkey.app.files.stats[file].isFile}
        td
          ul
            li
              form(action=appkey.req.path method="post")
                input(type="text" name="name" value=file)
                input(type="hidden" name="local" value=appkey.app.path + file)
                button(type="submit") Rename
            li
              form(action=appkey.req.path + file method="post")
                button(type="submit" name="_method" value="delete") Delete
